:root {
    --primary-color: #2D3436;
    --secondary-color: white;
    --terciary-color: #3b4346;
    --accent-color: #0E6EB8;
    --accent-color-weak: #bfccd6;
    --outline-color-strong: #96999A;
    --outline-color-weak: #BCBEBE;
    --bold-weight: 700;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-terciary {
    background-color: var(--terciary-color) !important;
}

.bg-accent {
    background-color: var(--accent-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-terciary {
    color: var(--terciary-color) !important;
}

.text-accent {
    color: var(--accent-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

.border-accent {
    border-color: var(--accent-color) !important;
}

.inactive {
    background-color: var(--accent-color-weak) !important; 
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--terciary-color) !important;
}

.btn-outline-accent {
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-accent:hover {
    color: var(--secondary-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--terciary-color) !important;
}

.nav-link {
    color: var(--accent-color) !important;
}

.nav-link.active {
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.badge {
    width: 75px;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-spaced {
    justify-content: space-between;
}

.dropdown {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.arrow-none.dropdown-toggle::after {
    content: none;
}

.form-dark {
    background-color: var(--terciary-color);
    border-color: transparent;
    color: var(--secondary-color);
}

.form-dark:focus {
    background-color: var(--terciary-color);
}

.form-control-plaintext {
    color: var(--terciary-color) !important;
}

.form-control-plaintext::placeholder {
    color: var(--accent-color) !important;
}

.form-control-plaintext:focus {
    outline: none;
}

.small-card-scrollable {
    max-height: 200px !important;
    overflow-y: auto !important;
}

.animate {
    animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}


@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}